body { margin:0px; padding:0px;}
@font-face {
    font-family: 'milky_coffeeregular';
    src: url('../milky_coffee-webfont.woff2') format('woff2'),
         url('../milky_coffee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {font-family: 'milky_coffeeregular';}
h2 {font-family: 'milky_coffeeregular';}
p {font-family:futura;}
a {font-family:'milky_coffeeregular';}


header {
    background-color: #F7A2FE;  
    margin: auto;
}


ul {
  list-style-type: none;
  margin: auto;
  display: inline;
}

  li {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
      width: 50%;
    padding: 2%;
    display: grid;
  }



  li a {    
    text-decoration: none;
    color: black;
    padding: 5%;
    font-size: 1.5rem;
    border-radius: 2vw;
    text-align: center;
  }


  .link {
    background-color: white;
    margin: 1vw;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #mimi {
   width: 80%;
   margin-top: -39px;
   margin-bottom: -50px;
  }

  #subtitle {
    margin: auto;
    padding: 10px;
  }

  #introduction {
    background-color:#FFE7EF;
    padding: 20px;
    margin: 10px;
  }
  
  #desktop {
    display:none;
  }
  #mobile {
    text-align: center;
    line-height: 1rem;
    margin-top: 50px;
  }

  #portrait {
    width: 80vw;
    margin: auto;
    display: block;
    border-width: 5px;
    border-color: #ad5eb5;
    border-style: solid;
  }

  #subtitle h2{
    font-size: 3rem;
    color:#ad5eb5;
  }

  section {
    margin: auto;
    text-align: center;
  }
  section p{
padding-bottom: 100px;
  }
 #cats {
  max-height: 350px;
  overflow: hidden;
  margin:auto;
 }
 
 #flag {
 height: 50vw;
 width: 90vw;
 margin:auto;
 }

 iframe {
  height: 50vw;
 }

.website {
  display: none;
}

.websitemobile {
  display: block;
  margin:auto;
}
footer {
  padding-top: 50px;
  margin: auto;
}

footer div {
  background-color: #F7A2FE;
  padding: 60px;
  display: flex;
  justify-content: space-around ;
  font-size: 2vw;
}

  @media only screen and (min-width: 600px) {

  nav {
    margin-left: -5vw;
    margin-right: 0vw;
  }

  #subtitle h2{
    font-size: 3vw;
  }

  .link {
    padding:20px;
 /proto/glmoFwSt1dfVVA5NIryLNW }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0px;
    margin-left: 0px;

  }

  li a {
    text-decoration: none;
    color: black;
    padding: 5%;
    font-size: 1.5vw;
    border-radius: 2vw;
  }

  #mimi {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 150px;
    display: block;
    align-content: center;
  }

  .link:hover {
    background-color:#7788F7;
    }
    
    #mimi:hover {
    filter: grayscale();
    }
    
    #portrait{
      margin:0px;
    }
    #subtitle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
      margin-top: 200px;
      margin: auto;
      margin-top: 50px;
    }
      
      #mobile {
        display: none;
      }
    
      #desktop {
        display: grid;
        font-size: 1.5vw;
      }


#introduction {
    padding: 5%;
    margin-top: 50px;
    background-color:#FFE7EF;
    padding-bottom: 0%;
  }

  #portrait {
    width: 50vw;
    padding: 0px;
    margin: 0px;
  }  

  #subtitle h2 {
    line-height: 2vw;
    margin-bottom: 10px;
  }



  
  section {
    padding: 50px;
    margin: auto;
    display: block;
    text-align:center;
    }

  section div {
    padding: 25px;


  }
  
  section div div {
    width: 50vw;
    height: 35vw;
    overflow-y:scroll;
    margin: auto;
    padding: 0px;
    border-width:20px;
    border-style:solid;
    border-color: #FFE7EF;
  }

  section div div img {
    width: 50vw;
  }
  iframe {
    height: 400px ;
    width: 1000px;
  }

  #cats {
    overflow: scroll;
   }
   
   #flag {
   height: fit-content;
   width: fit-content;

   }
  
  .website {
    display: block;
    width: 75vw;
    height: 30vw;
    margin:auto;    
    border-width:20px;
    border-style:solid;
    border-color: #FFE7EF;
  }

  .websitemobile{
    display: none;
  }


  section p{
    margin-bottom: 100px;
    width: 50%;
    margin: auto;
    display: inline;
      }
  

  }
